//TUTTE LE VARIABILI DI SASS

//GRANDEZZE HEADER

//grandezza immagini - header - navbar
$imgNavWidth: 1.7em; //grandezza delle icone della navbar
$imgThreads: 3em; //grandezza dell'icona di thread più grande delle altre

//--------------------------------------------------------//
//GRANDEZZE MAIN

//grandezza fonts
$fontMain: 0.9em;